{{! <— Delete this line to uncomment menu and enable it

<ul class="main-menu">
    <li><a href="LINK_TO_THE_PAGE_HERE">Documentation</a></li>
</ul>

Delete this line to uncomment menu and enable it —> }}